
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}


   
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Content/css/vendor/mmenu/jquery.mmenu.all.css" />
    <!-- Menu Responsive -->
    <link rel="stylesheet" href="/Content/css/vendor/animate-wow/animate.css">
    <!-- Animation WOW -->
    <link rel="stylesheet" href="/Content/css/vendor/labelauty/labelauty.css">
    <!-- Checkbox form Style -->
    <link rel="stylesheet" href="/Content/css/vendor/nouislider/nouislider.min.css">
    <!-- Slider Price -->
    <link rel="stylesheet" href="/Content/css/vendor/easydropdown/easydropdown.css">
    <!-- Select form Style -->
    <link rel="stylesheet" href="/Content/css/ui-spinner.css">
    <!-- Spinner -->
    <link rel="stylesheet" href="/Content/css/menu.css">
    <!-- Include Menu stylesheet -->
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/Content/css/media-query.css">
    <!-- Media Query -->
    <link rel="stylesheet" href="/Content/css/customizer.css">
    <!-- Customizer Color/Background-->
    <link rel="stylesheet" href="/Content/css/template/basic.css">
    <!-- Loading-->
    <link rel="stylesheet" href="/Content/css/template/breadcrumb.css">
    @*<link rel="stylesheet" href="/Content/css/template/button.css">*@
    @*<link rel="stylesheet" href="/Content/css/template/footer.css">*@
    <link rel="stylesheet" href="/Content/css/template/info-box.css">
    <link rel="stylesheet" href="/Content/css/template/maps.css">
    <link rel="stylesheet" href="/Content/css/template/modal.css">
    <link rel="stylesheet" href="/Content/css/template/navbar.css">
    <link rel="stylesheet" href="/Content/css/template/object.css">
    <link rel="stylesheet" href="/Content/css/template/pagination.css">
    <link rel="stylesheet" href="/Content/css/template/searcher.css">
    <link rel="stylesheet" href="/Content/css/template/section.css">
    @*<link rel="stylesheet" href="/Content/css/template/typography.css">*@
    <link rel="stylesheet" href="/Content/css/template/pages/header-page.css">
    <link rel="stylesheet" href="/Content/css/template/pages/blog.css">


<section class="header-margin-base" id="header-page">
    <div class="skyline">
        <!--<div data-offset="50" class="p1 parallax"></div>
                  <div data-offset="25" class="p2 parallax"></div>
                  <div data-offset="15" class="p3 parallax"></div>
                  <div data-offset="8"  class="p4 parallax"></div>
                  <span class="cover"></span>-->
        <div class="container header-text">
            <div><h1 class="title">Blog list</h1></div>
            <div><h2 class="sub-title">Lorem ipsum dolor sits adipiscing elit justo</h2></div>
        </div>
    </div>
    <!-- /<div id="breadcrumb">
                <div class="container">
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">User Profile</li>
                    </ol>
                </div>
            </div>#breadcrumb -->
    <span class="cover"></span>
</section>
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row blog-list">
                    <div class="col-md-5">
                        <div class="social"> <span class="date">26<span>Mar</span></span> <a href="#"><i class="fa fa-heart-o"></i><span>9634</span></a> <a href="#"><i class="fa fa-eye"></i><span>64982</span></a> <a href="#"><i class="fa fa-comments"></i><span>129</span></a> </div>
                        <div class="image image-fill"> <img src="/Content/images/sample/pages/news/1.jpg" alt="" /> </div>
                    </div>
                    <div class="col-md-7">
                        <h2 class="title"><a href="blog-detail.html">finibus feugiat mauris facilisis eu</a></h2>
                        <h3 class="subtitle">Vestibulum interdum mauris et mattis.</h3>
                        <div class="text">Lorem Ipsum is simply All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true genator on the Internet. Lorem Ipsum is simply dummy text of the printing and types industry. Lorem Ipsum has been the industry's</div>
                        <input type="button" value="Read now" class="btn btn-default" />
                    </div>
                </div>
                <!-- /.blog-list -->
                <div class="row blog-list">
                    <div class="col-md-5">
                        <div class="social"> <span class="date">15<span>Mar</span></span> <a href="#"><i class="fa fa-heart-o"></i><span>1238</span></a> <a href="#"><i class="fa fa-eye"></i><span>236498</span></a> <a href="#"><i class="fa fa-comments"></i><span>115</span></a> </div>
                        <div class="image image-fill"> <img src="/Content/images/sample/pages/news/2.jpg" alt="" /> </div>
                    </div>
                    <div class="col-md-7">
                        <h2 class="title"><a href="blog-detail.html">Vestibulum pulvinar id lectus nec dapibus</a></h2>
                        <h3 class="subtitle">Internet tend to repeat predefiry, making</h3>
                        <div class="text">Lorem Ipsum is simply All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true genator on the Internet. Lorem Ipsum is simply dummy text of the printing and types industry. Lorem Ipsum has been the industry's</div>
                        <input type="button" value="Read now" class="btn btn-default" />
                    </div>
                </div>
                <!-- /.blog-list -->
                <div class="row blog-list">
                    <div class="col-md-5">
                        <div class="social"> <span class="date">12<span>Mar</span></span> <a href="#"><i class="fa fa-heart-o"></i><span>948</span></a> <a href="#"><i class="fa fa-eye"></i><span>94635</span></a> <a href="#"><i class="fa fa-comments"></i><span>46</span></a> </div>
                        <div class="image image-fill"> <img src="/Content/images/sample/pages/news/3.jpg" alt="" /> </div>
                    </div>
                    <div class="col-md-7">
                        <h2 class="title"><a href="blog-detail.html">Cras in iacalis velit. Integer eu </a></h2>
                        <h3 class="subtitle">Tend to repeat predefined chunks as necessary, making</h3>
                        <div class="text">Lorem Ipsum is simply All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true genator on the Internet. Lorem Ipsum is simply dummy text of the printing and types industry. Lorem Ipsum has been the industry's</div>
                        <input type="button" value="Read now" class="btn btn-default" />
                    </div>
                </div>
                <!-- /.blog-list -->
                <div class="row blog-list">
                    <div class="col-md-5">
                        <div class="social"> <span class="date">10<span>Mar</span></span> <a href="#"><i class="fa fa-heart-o"></i><span>369</span></a> <a href="#"><i class="fa fa-eye"></i><span>4672</span></a> <a href="#"><i class="fa fa-comments"></i><span>63</span></a> </div>
                        <div class="image image-fill"> <img src="/Content/images/sample/pages/news/4.jpg" alt="" /> </div>
                    </div>
                    <div class="col-md-7">
                        <h2 class="title"><a href="blog-detail.html">Mauris vitae fringilla ipsum</a></h2>
                        <h3 class="subtitle">Is simply dummy text of the pr</h3>
                        <div class="text">Lorem Ipsum is simply All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true genator on the Internet. Lorem Ipsum is simply dummy text of the printing and types industry. Lorem Ipsum has been the industry's</div>
                        <input type="button" value="Read now" class="btn btn-default" />
                    </div>
                </div>
                <!-- /.blog-list -->
                <div class="row blog-list">
                    <div class="col-md-5">
                        <div class="social"> <span class="date">6<span>Mar</span></span> <a href="#"><i class="fa fa-heart-o"></i><span>649</span></a> <a href="#"><i class="fa fa-eye"></i><span>136945</span></a> <a href="#"><i class="fa fa-comments"></i><span>25</span></a> </div>
                        <div class="image image-fill"> <img src="/Content/images/sample/pages/news/5.jpg" alt="" /> </div>
                    </div>
                    <div class="col-md-7">
                        <h2 class="title"><a href="blog-detail.html">Making this the first true genator</a></h2>
                        <h3 class="subtitle">Internet tend to repeat predefined chunks as necessary, making</h3>
                        <div class="text">Lorem Ipsum is simply All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true genator on the Internet. Lorem Ipsum is simply dummy text of the printing and types industry. Lorem Ipsum has been the industry's</div>
                        <input type="button" value="Read now" class="btn btn-default" />
                    </div>
                </div>
                <!-- /.blog-list -->
                <div class="row blog-list">
                    <div class="col-md-5">
                        <div class="social"> <span class="date">26<span>Feb</span></span> <a href="#"><i class="fa fa-heart-o"></i><span>783</span></a> <a href="#"><i class="fa fa-eye"></i><span>64976</span></a> <a href="#"><i class="fa fa-comments"></i><span>58</span></a> </div>
                        <div class="image image-fill"> <img src="/Content/images/sample/pages/news/6.jpg" alt="" /> </div>
                    </div>
                    <div class="col-md-7">
                        <h2 class="title"><a href="blog-detail.html">Pellentesque iaculis varius diam at ullamcorper</a></h2>
                        <h3 class="subtitle">Lorem Ipsum to repeat predefined chunks as necessary</h3>
                        <div class="text">Lorem Ipsum is simply All the generators on the Internet tend to repeat predefined chunks as necessary, making this the first true genator on the Internet. Lorem Ipsum is simply dummy text of the printing and types industry. Lorem Ipsum has been the industry's</div>
                        <input type="button" value="Read now" class="btn btn-default" />
                    </div>
                </div>
                <!-- /.blog-list -->
                <div class="row blog-list">
                    <div class="col-md-5">
                        <div class="social"> <span class="date">20<span>Feb</span></span> <a href="#"><i class="fa fa-heart-o"></i><span>264</span></a> <a href="#"><i class="fa fa-eye"></i><span>6457</span></a> <a href="#"><i class="fa fa-comments"></i><span>57</span></a> </div>
                        <div class="image image-fill"> <img src="/Content/images/sample/pages/news/7.jpg" alt="" /> </div>
                    </div>
                    <div class="col-md-7">
                        <h2 class="title"><a href="blog-detail.html">Curabitur metus elit, faucibus ac malesuada</a></h2>
                        <h3 class="subtitle">Praesent dignissim a mi in pellentesque</h3>
                        <div class="text">Lorem Ipsum is simply All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true genator on the Internet. Lorem Ipsum is simply dummy text of the printing and types industry. Lorem Ipsum has been the industry's</div>
                        <input type="button" value="Read now" class="btn btn-default" />
                    </div>
                </div>
                <!-- /.blog-list -->
            </div>
            <!-- /.col-md-9 -->
            <div class="col-md-3">
                <div class="section-title line-style no-margin">
                    <h3 class="title">Search Post</h3>
                </div>
                <div class="blog-search">
                    <input type="text" placeholder="Keywords" class="form-control">
                    <button class="button-search" type="submit"><i class="fa fa-search"></i></button>
                </div>
                <div class="section-title line-style">
                    <h3 class="title">Blog Categories</h3>
                </div>
                <ul class="category-list">
                    <li><a href="#">April 2015</a></li>
                    <li class="active"><a href="#">March 2015</a></li>
                    <li><a href="#">February 2015</a></li>
                    <li><a href="#">November 2014</a></li>
                    <li><a href="#">October 2014</a></li>
                  
                </ul>
                
                <div class="section-title line-style">
                    <h3 class="title">Popular Post</h3>
                </div>
                <div class="recent-post">
                    <a class="image image-fill" href="blog-detail.html"> <img alt="" src="/Content/images/sample/pages/news/7.jpg"> </a><!-- /.image -->
                    <div class="body">
                        <span class="title">Cras varius elementum</span> <span class="date">March 22, 2015 - 5 Comments</span>
                        <div class="text">
                            <p>Lorem ipsum dolor amet donec, collentesque ullamcorper.</p>
                        </div>
                        <!-- /.text -->
                        <input type="submit" class="button-read button-read btn btn-default" value="Read now" name="submit" id="submit">
                    </div>
                    <!-- /.body -->
                </div>
                <!-- recent-post -->

                <div class="recent-post">
                    <a class="image image-fill" href="blog-detail.html"> <img alt="" src="/Content/images/sample/pages/news/8.jpg"> </a><!-- /.image -->
                    <div class="body">
                        <span class="title">Ante egestas venenatis</span> <span class="date">March 19, 2015 - 2 Comments</span>
                        <div class="text">
                            <p>Consectetur adipiscing. Quam pellentesque ut fermentum.</p>
                        </div>
                        <!-- /.text -->
                        <input type="submit" class="button-read button-read btn btn-default" value="Read now">
                    </div>
                    <!-- /.body -->
                </div>
                <!-- recent-post -->

                <div class="section-title line-style">
                    <h3 class="title">Tags</h3>
                </div>
                <div id="filter-box"> <a href="#" class="filter">Music <i class="fa fa-times"></i></a> <a href="#" class="filter">Recipes <i class="fa fa-times"></i></a> <a href="#" class="filter">Landscape <i class="fa fa-times"></i></a> <a href="#" class="filter">Graphic Design <i class="fa fa-times"></i></a> <a href="#" class="filter">Photography <i class="fa fa-times"></i></a> <a href="#" class="filter">Videos <i class="fa fa-times"></i></a> <a href="#" class="filter">Wild Life <i class="fa fa-times"></i></a> <a href="#" class="filter">Scenery <i class="fa fa-times"></i></a> <a href="#" class="filter">News <i class="fa fa-times"></i></a> <a href="#" class="filter">Web Design <i class="fa fa-times"></i></a> <a href="#" class="filter">Models <i class="fa fa-times"></i></a> </div>
                <!-- /.filter-box -->

            </div>
            <!-- /.col-md-3 -->
        </div>
    </div>
    <!-- pagination -->
    <div class="container" id="pagination">
        <div class="row">
            <div class="col-md-9 text-center">
                <ul class="pagination">
                    <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                    <li><a class="active" href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a class="no-active">...</a></li>
                    <li><a href="#">9</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ./container -->
</section>



<script src="/Content/script/jquery.min.js"></script>		<!-- jQuery	(necessary for Bootstrap's JavaScript plugins) -->
<script src="/Content/script/jquery-ui.min.js"></script>		<!-- jQuery	UI is a	curated	set	of user	interface interactions,	effects, widgets, and themes -->
<script src="/Content/script/bootstrap.min.js"></script>		<!-- Include all compiled plugins (below), or include individual files as needed -->
         
<script src="/Content/script/vendor/mmenu/mmenu.min.all.js"></script>					<!-- Menu Responsive -->
            
<script src="/Content/script/vendor/labelauty/labelauty.min.js"></script>					<!-- Checkbox Script -->
<script src="/Content/script/vendor/parallax/parallax.min.js"></script>						<!-- Parallax Script -->
<script src="/Content/script/vendor/images-fill/imagesloaded.min.js"></script>			<!-- Loaded	image with ImageFill -->
<script src="/Content/script/vendor/images-fill/imagefill.min.js">
    </script/>
<script src="/Content/script/vendor/easydropdown/jquery.easydropdown.min.js"></script>	<!-- Select	list Script	-->
<script src="/Content/script/custom.js"></script>		
				<!-- ImageFill Script -->
